{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "plugin:jsx-a11y/strict",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react", "react-hooks", "jsx-a11y", "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/boolean-prop-naming": ["warn", { "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+" }],
    "react-hooks/rules-of-hooks": "warn",
    "react/prop-types": 1,
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off",
    "prettier/prettier": ["warn"]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "process": true
  }
}
